<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestion de productos</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0fd39519e2.js" crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="/index :: header"></header>

<br>
<br>

<div class="py-4 ml-5 mr-5">
    <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarCategoria">
                    <i class="fa-solid fa-circle-plus"></i> Agregar Categorias
                </button>
            </h4>
            <table class="table table-striped">
                <thead style="background-color: #75c7ff; color: white;">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="categoria : ${listaCategorias}">
                    <td th:text="${categoria.id}"></td>
                    <td th:text="${categoria.nombre}"></td>
                    <td>
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                data-target="#modalEditarCategoria" th:attr="data-id=${categoria.id}">
                            <i class="fa-regular fa-pen-to-square"></i>Editar
                        </button>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarCategoria" tabindex="-1" role="dialog"
     aria-labelledby="modalAgregarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalAgregarCategoriaLabel">Agregar Categoria</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formAgregarCategoria" th:action="@{categorias/guardar}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombreCategoria" class="font-weight-bold">Nombre de la categoria</label>
                        <input type="text" id="nombreCategoria" name="nombre" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de edición -->
<div class="modal fade" id="modalEditarCategoria" tabindex="-1" role="dialog"
     aria-labelledby="modalEditarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="modalEditarCategoriaLabel">Editar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formEditarCategoria" th:action="@{/categorias/actualizar}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="editId" name="id"/>
                    <div class="form-group">
                        <label for="editNombreCategoria" class="font-weight-bold">Nombre de la categoría</label>
                        <input type="text" id="editNombreCategoria" name="nombre" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning text-white">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#modalEditarCategoria').on('show.bs.modal', function (event) {
            console.log("Modal se está mostrando...");
            var button = $(event.relatedTarget); // Botón que activó el modal
            var id = button.data('id'); // Extraer el ID de los datos atributo
            console.log("ID de categoría:", id); // Verificar si se está obteniendo el ID correctamente
            var modal = $(this);
            modal.find('.modal-body #editId').val(id); //Buscar y Inyectar el ID en el campo oculto

            // Aquí realizamos una petición AJAX para obtener los datos de la categoría
            $.ajax({
                url: "/categorias/" + id,
                method: "GET",
                success: function(data) {//data el objecto categoria traido como respuesta de la solicitud
                    modal.find('.modal-body #editNombreCategoria').val(data.nombre); // Llenar el campo de nombre con el valor recibido
                },
                error: function(xhr, status, error) {
                    console.error("Error al obtener la categoría:", error);
                }
            });
        });
    });
</script>


</body>
</html>
