<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"/>
    <!--estilos para las validaciones-->
    <style>
        form .invalid-feedback {
            display: block;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Productos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">administracion</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div>
    <div class="container my-5">
        <h1>Productos</h1>
        <div class="text-end">
            <a href="/agregarProducto" class="btn btn-primary mb-3">
                Agregar Productos </a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th><!--imagen-->
                <th>Producto</th>
                <th>Fecha Rgistro</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${listaProductos}" th:object="${producto}">
                <td style="width:150px;">
                    <a th:href="@{/imagenes/{filename}(filename=${producto.rutaImagen})}" data-fancybox><!--invoco el controlador imagenes rescontroller-->
                        <img th:src="@{/imagenes/{filename}(filename=${producto.rutaImagen})}" alt="" class="img-thumbnail w-100"><!--src para generar la url de la img-->
                    </a>

                </td><!--el de la imagen-->
                <td>
                    <div th:text="${producto.nombre}" class="fs-5"></div>
                    <p th:text="${producto.codigoBarras}"></p>
                </td>
                <td th:text="*{#temporals.format(fechaRegistro,'dd/MM/yyyy')}"></td>
                <td class="text-end">
                    <a class="btn btn-primary" th:href="@{'/editar'+${producto.id}}">editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{'/eliminar/' + ${producto.id}}" onclick="return confirm('¿Estas seguro de eliminar al empleado');">eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<script
        src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>