<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"/>

    <!--estilos para las validaciones y mas-->
    <style>
        body {
    background-color: #d4e6f4; /* Azul claro */
    }
        form .invalid-feedback {
            display: block;
        }
        .custom-input {
        max-width: 600px;
    }
        .custom-container {
        margin-top: 40px; /* Margen superior */
        margin-bottom: 40px; /* Margen inferior */
    }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Productos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">administracion</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container custom-container">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <br>
            <h1 class="text-center" th:text="${titulo}">&nbsp;&nbsp;</h1>
            <br>
            <div class="card-body">
                <form th:action="@{/guardarProducto}" method="post" th:object="${producto}"
                      enctype="multipart/form-data">
                    <!--enctype="multipart/form-data" se utiliza cuando el formulario incluye archivos adjuntos, como imágenes, archivos de audio, videos, etc.-->

                    <div class="form-group">
                        <!--si identifica el id que es existente a la hora de editar pues editar o sino registra un nuevo producto-->
                        <input
                                type="text" name="id" class="form-control" th:field="*{id}" readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="nombre">Nombre : </label> <input
                            id="nombre" type="text" class="form-control" th:field="*{nombre}"
                            autofocus="autofocus" th:errorClass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                               th:errors="*{nombre}"></small>
                    </div>

                    <div class="mb-3">
                        <label for="codigoBarras" class="form-label">Codigo de Barras : </label>
                        <textarea id="codigoBarras" placeholder="Digite codigo de barras"
                                  class="form-control" th:field="*{codigoBarras}"></textarea>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('codigoBarras')}" th:errors="*{codigoBarras}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="fechaRegistro" class="form-label">Fecha de
                            Registro :</label> <input type="date" id="fechaRegistro"
                                                      placeholder="Digite la fecha de registro" class="form-control"
                                                      th:field="*{fechaRegistro}">
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('fechaRegistro')}"
                             th:errors="*{fechaRegistro}"></div>
                    </div>

                    <div class="mb-3">
                        <label for="imagen" class="form-label">Imagen : </label> <input
                            type="file" name="imagen" id="imagen" class="form-control"
                            th:field="*{imagen}" required>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
                    </div>


                    <br>
                    <div class="mb-3">
                        <label>Sucursal : </label>
                        <select class="form-select" th:field="*{sucursales}">
                            <option value="">Seleccione una Sucursal</option>
                            <!-- primera opción con texto descriptivo -->
                            <th:block th:each="sucursal : ${listaSucursales}">
                                <option th:text="${sucursal.nombre}" th:value="${sucursal.id}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('sucursales')}" th:errors="*{sucursales}"></div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label>Categoria : </label>
                        <select class="form-select" th:field="*{categoria}">
                            <option value="">Seleccione una categoría</option>
                            <!-- Primera opción con texto descriptivo -->
                            <th:block th:each="categoria : ${listaCategorias}">
                                <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                    </div>

                    <div class="mb-3">
                        <label>Bodega : </label>
                        <select class="form-select" th:field="*{bodegas}">
                            <option value="">Seleccione una Bodega</option>
                            <th:block th:each="bodegas : ${listaBodegas}">
                                <option th:text="${bodegas.nombre}" th:value="${bodegas.id}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('bodegas')}" th:errors="*{bodegas}"></div>
                    </div>
                    <br>

                    <div class="mb-3">
                        <label>Pasillo : </label>
                        <select class="form-select" th:field="*{pasillo}">
                            <option value="">Seleccione un Pasillo</option>
                            <th:block th:each="pasillo : ${listaPasillos}">
                                <option th:text="${pasillo.nombre}" th:value="${pasillo.id}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('pasillo')}" th:errors="*{pasillo}"></div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label>Modulo : </label>
                        <select class="form-select" th:field="*{modulo}">
                            <option value="">Seleccione un Modulo</option>
                            <th:block th:each="modulo : ${listaModulos}">
                                <option th:text="${modulo.nombre}" th:value="${modulo.id}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('modulo')}" th:errors="*{modulo}"></div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Nivel : </label>
                        <select class="form-select" th:field="*{nivel}">
                            <option value="">Seleccione un nivel</option>
                            <option th:value='1'>uno</option>
                            <option th:value='2'>dos</option>
                            <option th:value='3'>tres</option>
                            <option th:value='4'>cuatro</option>
                            <option th:value='5'>cinco</option>
                            <option th:value='6'>seis</option>
                        </select>
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></div>
                    </div>

                    <br>
                    <br>

                    <th:block th:unless="${producto.id==null}" th:each="detalle,status : ${producto.detalles}">
                        <!--si no es nulo me trae el formulario para editar sus detalles, sin embargo si no es nullo ´pero el producto se registro sin detalles y vamos a editar tampoco muestra este formulario de detalles por que no tiene detalles que iterar -->
                        <input type="hidden" name="detalleId" th:value="${detalle.id}">
                        <!--osea creo en el caso de editar se edita el mismo detalle.id-->
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Detalles#[[${status.count}]]</label>
                            <div class="col-sm-4">
                                <input type="text" name="detallesNombre" th:value="${detalle.nombre}"
                                       class="form-control">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="detallesValor" th:value="${detalle.valor}"
                                       class="form-control">
                            </div>
                        </div>
                    </th:block>

                    <th:block th:if="${producto.id == null}">

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Detalles#1</label>
                            <div class="col-sm-4">
                                <input type="text" name="detallesNombre" class="form-control" placeholder="nombre">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="detallesValor" class="form-control" placeholder="valor">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Detalles#2</label>
                            <div class="col-sm-4">
                                <input type="text" name="detallesNombre" class="form-control" placeholder="nombre">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="detallesValor" class="form-control" placeholder="valor">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Detalles#3</label>
                            <div class="col-sm-4">
                                <input type="text" name="detallesNombre" class="form-control" placeholder="nombre">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" name="detallesValor" class="form-control" placeholder="valor">
                            </div>
                        </div>

                    </th:block>
                    <br>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-dark text-light text-center">
    <div class="container">
        <span class="text-muted">© 2024  Empresa. Todos los derechos reservados.</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script
        src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<script
        src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>